.App{
  background: rgba(2, 16, 43, 0.171);
  color: rgb(60, 53, 170);
  text-align: center;
  height: auto;
  width: 360px;
  border-radius: 30px;
  margin: 70vh;
  border: 5px solid ;
}

.vaso-h1{
  font-weight: bold;
}